.button {
  background: transparent;
  border: 0px solid lightgray;
  box-shadow: 2px 2px 2px 2px rgb(167, 164, 164);
  border-radius: 0.3rem;
  float: right;
  display: inline-flex;
  width: 110px;
  margin-bottom: 5px;
}

.loginbutton {
  color: black;
  font-size: 1rem;
}

.description {
  font-family: "Ranchers", cursive;
}

h2 {
  text-align: center;
}

.happycloud {
  padding-top: 1rem;
}

