.button {
  background-color: #66cdaa;
  border: 0px solid lightgray;
  box-shadow: 2px 2px 2px 2px grey;
  border-radius: 0.4rem;
  float: right;
  display: inline-flex;
}

.loginbutton {
  color: black;
}
