.btn {
    position: relative;
    background-color: rgb(255, 255, 255);
    width: 256px;
    height: 64px;
    line-height: 64px;
    transition: all 0.3s;
    transition: all 0.3s;
    transform: scale(1, 1);
    border-radius: 1px;
  }
  
  .btn::before, .btn::after {
    content: '';
    position: absolute;
    transition: all 0.3s;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

/* BTN TWO */
.btn-two::before, .btn-two::after {
    content: '';
    position: absolute;
    width: 100%;
      height: 100%;
    bottom: 0;
      left: 0;
      z-index: 1;
    transition: all 0.3s;
    border: 2px solid transparent;
    border-image: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
    border-image-slice: 1;
  }
  
  .btn-two:hover::after {
    animation-name: rotatecw;
    animation-duration: 2s;
  }
  .btn-two:hover::before {
    animation-name: rotateccw; 
    animation-duration: 3s;
  }
  .btn-two:hover::after, .btn-two:hover::before {
    left: 91px;
    width: 80px;
    height: 80px;
    border-radius: 3px;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
  
  @keyframes rotatecw {
      from {transform: rotate(0deg);}
      to {transform: rotate(360deg);}
  }
  
  @keyframes rotateccw {
      from {transform: rotate(0deg);}
      to {transform: rotate(-360deg);}
  }
  