#navbar {
  /* background-image: url("https://64.media.tumblr.com/d54a9d32332efba6014646d1320e941f/tumblr_ovzced70jc1t5wz6ro1_1280.jpg");
  background-size: cover;
  background-repeat : no-repeat; */
  width: "100%";
  margin: 0;
}

#home,
#about,
#login {
  font-size: 15px;
  color: rgb(143, 137, 137);
  font-weight: bold;
}

#cloud {
  color: #0767a8;
  font-size: 60px;
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
}
